.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.image-2 {
  max-width: 100%;
}

.slider2 {
  background-image: url('../images/Pronsa-1.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.slider3 {
  background-image: url('../images/Pronsa-3.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slider1 {
  background-image: url('../images/Pronsa-2.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-weight: 400;
  -o-object-fit: fill;
  object-fit: fill;
}

.right-arrow {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-left: 0px;
  background-color: transparent;
  opacity: 0.7;
}

.icon {
  background-clip: border-box;
}

.slider {
  height: 600px;
  padding-right: 100px;
  padding-left: 100px;
}

.left-arrow {
  background-color: transparent;
  opacity: 0.7;
}

.sub-title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Bitter, serif;
  font-size: 22px;
  font-weight: 700;
}

.text-block-7 {
  margin-bottom: 20px;
  font-family: Bitter, serif;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

.image-3 {
  margin-bottom: 40px;
}

.heading {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Montserrat, sans-serif;
  font-size: 37px;
}

.heading.white {
  color: #fff;
}

.columns {
  margin-top: 220px;
  margin-bottom: 220px;
}

.section-3 {
  margin-top: 220px;
  margin-bottom: 220px;
}

.section-7 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 220px;
  padding-bottom: 220px;
  background-color: #ffd8aa;
}

.section-8 {
  margin-top: 40px;
  margin-bottom: 100px;
}

.footer {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
}

.bold-text {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
}

.paragraph-4 {
  position: static;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.heading-3 {
  display: block;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}

.heading-3.white {
  color: #fff;
}

.paragraph-5 {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.heading-4 {
  font-family: Montserrat, sans-serif;
}

.paragraph-16 {
  background-color: transparent;
  font-family: 'Droid Serif', serif;
  color: #ff8c00;
  font-size: 18px;
}

.paragraph-16.finding_sub {
  margin-left: 20px;
}

.image-5 {
  position: static;
  display: block;
  max-width: 130%;
  margin-left: -150px;
}

.para {
  display: block;
  margin-bottom: 35px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 100%;
  -ms-flex: 0 100%;
  flex: 0 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.para.white {
  color: #8b8b8b;
}

.sectionspacetask {
  margin-top: 300px;
  margin-bottom: 300px;
  padding-bottom: 220px;
}

.image-11 {
  margin-top: 100px;
}

.column {
  margin-top: 100px;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}

.quote {
  margin-right: 60px;
  margin-bottom: 30px;
  margin-left: 60px;
  font-family: Bitter, serif;
  color: #8f8f8f;
  font-size: 18px;
  font-style: italic;
}

.image_1st {
  margin-right: 10px;
  margin-left: 60px;
}

.image_2nd {
  margin-right: 10px;
  margin-left: 10px;
}

.sction3 {
  margin-top: 220px;
  margin-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
}

.image-14 {
  max-width: 70%;
  margin-top: 40px;
  margin-left: 140px;
}

.image-15 {
  max-width: 80%;
  margin-top: 20px;
  margin-left: 20px;
}

.columns-3 {
  margin-top: 40px;
  margin-right: 0px;
  margin-left: 0px;
}

.column-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.image-16 {
  max-width: 150%;
  margin-left: -155px;
}

.image-17 {
  max-width: 142%;
  margin-left: -50px;
}

.image-18 {
  max-width: 142%;
  margin-left: 50px;
}

.link {
  font-family: 'Droid Serif', serif;
  color: #6caef5;
}

.image-20 {
  max-width: 60%;
  margin-top: 20px;
  margin-left: 180px;
}

.column_para {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.container-2 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.text-block-9 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.nav-link {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.nav-link.w--current {
  color: #ff9bdb;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999;
  background-color: #000;
}

.paragraph-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  text-align: left;
  text-decoration: none;
}

.heading-12 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  line-height: 44px;
}

.columns-4 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: transparent;
}

.info {
  min-height: 400px;
  background-color: #000;
}

.contact_title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
}

.text-block-13 {
  font-family: 'Fa brands 400', sans-serif;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.text-block-14 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #dadada;
  font-size: 16px;
}

.heading-13 {
  color: #fff;
  text-align: right;
}

.paragraph-18 {
  margin-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  text-align: right;
}

.container-4 {
  margin-top: 40px;
}

.image-23 {
  position: absolute;
  z-index: 0;
  max-width: 100%;
}

.image-24 {
  position: absolute;
  z-index: 1;
  max-width: 100%;
  float: none;
}

.section-12 {
  position: relative;
  min-height: 700px;
}

.quotes {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
  font-weight: 400;
}

.rich-text-block {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.div-block {
  position: relative;
  top: 20px;
  bottom: 20px;
}

.image-25 {
  position: absolute;
  z-index: 0;
}

.image-26 {
  position: absolute;
  z-index: 1;
}

.image-27 {
  position: absolute;
  z-index: 2;
}

.image-28 {
  position: absolute;
  z-index: 3;
}

.image-29 {
  position: absolute;
  z-index: 4;
}

.sectionspace {
  margin-top: 300px;
  margin-bottom: 300px;
}

.text-block-15 {
  position: relative;
  top: 220px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #afafaf;
  font-style: normal;
  text-align: center;
}

.text-block-16 {
  font-style: normal;
}

.link-3 {
  color: #afafaf;
  cursor: pointer;
}

.container-5 {
  cursor: pointer;
}

.text-span {
  color: #ffa15f;
  font-weight: 800;
}

.sub-sub-title {
  position: static;
  padding-bottom: 10px;
  padding-left: 60px;
  font-family: Bitter, serif;
  font-size: 20px;
  line-height: 25px;
  text-decoration: underline;
}

.para_finding {
  padding-left: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.div-block-2 {
  position: relative;
  z-index: 4;
}

.image-33 {
  position: absolute;
  z-index: 2;
}

.image-34 {
  position: absolute;
  z-index: 1;
}

.div-block-3 {
  position: relative;
  margin-top: 250px;
}

.div-block-4 {
  position: relative;
  padding-top: 250px;
  padding-bottom: 250px;
}

.image-39 {
  max-width: 50%;
  margin-left: 165px;
  text-align: left;
}

.image-40 {
  max-width: 70%;
  margin-left: 162px;
}

.image-42 {
  position: static;
  max-width: 65%;
  margin-left: 146px;
}

.text-block-17 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #afafaf;
  text-align: center;
}

.image-43 {
  box-shadow: 1px 1px 5px 0 #000;
}

.image-44 {
  box-shadow: 1px 1px 7px 0 #000;
}

.image-45 {
  width: 70%;
  height: 70%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.image-46 {
  position: relative;
  z-index: 20;
  max-width: 40%;
  margin-top: -105px;
  margin-left: 57px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.image-47 {
  width: 30%;
  height: 30%;
  max-width: none;
  margin-top: 10px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.slider4 {
  background-image: url('../images/Presona_AndyCheung_A5_Rectangle_77_pattern2x.png');
  background-position: 0px 0px;
  background-size: contain;
  background-attachment: scroll;
}

.slider5 {
  background-image: url('../images/Presona_SunLi_A5_Rectangle_75_pattern2x.png');
  background-position: 0px 0px;
  background-size: contain;
}

.bold-text-6 {
  color: #ffa438;
}

.image-48 {
  box-shadow: 1px 1px 3px 0 #000;
}

.text-block-18 {
  margin-top: 5px;
  padding-bottom: 10px;
  color: #bdbdbd;
  text-align: center;
}

.image-49 {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 3px 0 #000;
}

.link-block {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 33%;
  -ms-flex: 0 33%;
  flex: 0 33%;
  text-decoration: none;
}

.link-block-4 {
  display: inline;
  text-decoration: none;
}

.link-block-5 {
  display: inline;
  text-align: left;
  text-decoration: none;
}

.link-block-6 {
  display: inline;
  text-decoration: none;
}

.mainpagefooter {
  min-height: 10px;
  background-color: #000;
}

.text-block-19 {
  margin-right: 5px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 20%;
  -ms-flex: 0 20%;
  flex: 0 20%;
  border-radius: 20px;
  background-color: #ff0eaf;
  color: #fff;
  text-align: center;
}

.sectionheading_mid {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #d4d4d4;
  text-align: center;
}

.image-54 {
  padding-top: 20px;
  padding-bottom: 60px;
}

.link-4 {
  padding-right: 5px;
  padding-left: 5px;
}

.grid-4 {
  grid-column-gap: 4px;
  grid-row-gap: 0px;
  grid-template-areas: "Area Area-2"
    "Area-4 Area-5"
    "Area-3 ."
    "Area-6 .";
  -ms-grid-columns: 1fr 4px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 0px auto 0px auto 0px auto;
  grid-template-rows: auto auto auto auto;
}

.text-span-2 {
  padding-left: 10px;
}

.feature-section {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f3f3f3;
}

.flex-container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flexchild {
  position: static;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.flexparent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f3f3f3;
}

.finding-with-padding {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 100px 20px 20px;
  font-family: 'Fa solid 900', sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.finding-with-padding-_title {
  position: relative;
  margin-right: 100px;
  margin-left: 20px;
}

.flexchild_image {
  position: static;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  background-image: url('../images/screencapture-innocarnival2020-apas-2020-12-24-12_42_01.png');
  background-position: 45% 50%;
  background-size: cover;
}

.flexchild_image.project5_findingimage {
  background-image: url('../images/pexels-tima-miroshnichenko-5428155.jpg');
  background-position: 50% 30%;
}

.div-block-8 {
  padding-top: 208px;
  padding-bottom: 208px;
}

.column-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex_row_left {
  margin-right: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
}

.flex_row_right {
  margin-left: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
}

.backtotop_button {
  position: fixed;
  left: auto;
  top: auto;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

.text-block-21 {
  font-family: 'Fa solid 900', sans-serif;
  color: #353535;
  font-size: 50px;
  text-decoration: none;
}

.link-block-8 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 33%;
  -ms-flex: 0 33%;
  flex: 0 33%;
  text-decoration: none;
}

.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.gallery-lightbox {
  position: relative;
  overflow: hidden;
}

.gallery-grid-container-2 {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  -ms-grid-row-align: center;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 20px auto;
  grid-template-rows: auto auto;
}

.textover_heading_big {
  position: static;
  font-family: Bitter, serif;
  font-size: 30px;
}

.textover_para_big {
  position: static;
  font-family: 'Fa solid 900', sans-serif;
  font-size: 16px;
  text-align: center;
}

.text-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.text_overimage {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 300px;
  padding-right: 10px;
  padding-left: 10px;
  color: #fff;
  text-align: center;
}

.link-block-9 {
  position: static;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.div-block-10 {
  position: relative;
  height: 100%;
  min-height: 300px;
}

.textover_heading_small {
  font-size: 18px;
  line-height: 22px;
}

.textover_para_small {
  position: static;
  font-family: 'Fa solid 900', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.text_overimage_small {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  color: #fff;
  text-align: center;
}

.div-block-17 {
  width: 220px;
  height: 220px;
  background-image: url('../images/screencapture-innocarnival2020-apas-2020-12-24-12_42_01.png');
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

.div-block-17.footer {
  width: 200px;
  height: 200px;
}

.image-59 {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.div-block-18 {
  background-image: url('../images/screencapture-eduhk-hk-ci-ctl-minor-ci-ctlminor-html-2020-11-13-11_37_45.png');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-19 {
  background-image: url('../images/BirdieMobile_2.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-20 {
  background-image: url('../images/jon-tyson-8rfYYMZkp5s-unsplash123.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-21 {
  background-image: url('../images/Nokia_MockUp_A5_Rectangle_19_pattern2x副本.png');
  background-position: 50% 50%;
  background-size: cover;
}

.column-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.column-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.paragraph-21 {
  font-family: 'Fa 400', sans-serif;
  font-size: 16px;
}

.heading-12-copy {
  font-family: Montserrat, sans-serif;
  color: #fff;
  line-height: 44px;
  text-align: right;
}

.column-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.text-span-3 {
  color: #ff7b00;
}

.div-block-23 {
  background-image: url('../images/pexels-brayden-law-1738997.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-23.footer {
  width: 200px;
  height: 200px;
}

.paragraph-22 {
  font-family: 'Fa 400', sans-serif;
  font-weight: 400;
}

.underline {
  width: 150px;
  height: 2px;
  background-color: #ff0faf;
  font-size: 15px;
  line-height: 2px;
}

.underline.grey {
  width: 50px;
  background-color: #ff0eaf;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bold-text-7 {
  font-family: 'Fa 400', sans-serif;
  color: #9c9c9c;
  font-weight: 400;
  text-transform: uppercase;
}

.text-block-22 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #dadada;
  font-size: 16px;
  text-decoration: none;
}

.text-block-23 {
  margin-top: 146px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 100%;
  -ms-flex: 0 100%;
  flex: 0 100%;
  font-family: 'Fa solid 900', sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.div-block-25 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
}

.text-block-24 {
  margin-top: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #8b8b8b;
  font-weight: 300;
}

.text-block-25 {
  font-family: 'Fa solid 900', sans-serif;
  color: #fff;
  font-weight: 900;
}

.home_heading {
  padding-top: 180px;
  padding-bottom: 180px;
  background-color: #000;
}

.nag_trigger_white {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999;
  height: 1px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.link-5 {
  color: #fff;
  text-decoration: none;
}

.link-6 {
  text-decoration: none;
}

.link-7 {
  text-decoration: none;
}

.link-8 {
  text-decoration: none;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.column-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery-grid-container_footer {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  -ms-grid-row-align: center;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: ".";
  -ms-grid-columns: minmax(200px, 1fr) 20px minmax(200px, 1fr) 20px minmax(200px, 1fr) 20px minmax(200px, 1fr) 20px 1fr;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.top_tigger {
  position: relative;
  height: 1px;
}

.text-span-4 {
  font-family: 'Fa brands 400', sans-serif;
}

.text-span-5 {
  font-family: 'Fa brands 400', sans-serif;
}

.text-span-6 {
  font-family: 'Fa brands 400', sans-serif;
}

.text-span-7 {
  font-family: 'Fa brands 400', sans-serif;
}

.current.w--current {
  color: #ff0eaf;
}

.dropdown-list.w--open {
  background-color: #726e6e;
}

.dropdown_nag_link {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 400;
}

.dropdown_nag_link.w--current {
  color: #ff9bdb;
}

@media screen and (max-width: 991px) {
  .text-block-7 {
    font-size: 20px;
    font-weight: 400;
  }

  .heading {
    margin-left: 60px;
  }

  .heading.white {
    margin-left: auto;
  }

  .image-5 {
    max-width: 118%;
    margin-left: -60px;
  }

  .image-11 {
    margin-top: 250px;
  }

  .image-14 {
    max-width: 75%;
    margin-left: 90px;
  }

  .image-15 {
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }

  .image-16 {
    max-width: 65%;
    margin-left: 130px;
  }

  .image-17 {
    max-width: 65%;
    margin-left: 130px;
  }

  .image-18 {
    max-width: 65%;
    margin-left: 130px;
  }

  .link {
    font-family: 'Droid Serif', serif;
    color: #6caef5;
  }

  .image-20 {
    max-width: 65%;
    margin-left: 120px;
  }

  .column_para {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 25px;
  }

  .gallery-grid-container-2 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .text_overimage {
    margin-top: 201px;
  }

  .div-block-17 {
    width: 170px;
    height: 170px;
  }

  .image-59 {
    height: 100%;
  }

  .div-block-18 {
    width: 200px;
    height: 200px;
  }

  .div-block-18.tablet {
    width: 200px;
    height: 200px;
  }

  .div-block-18.footer {
    width: 200px;
    height: 200px;
  }

  .div-block-21 {
    width: 200px;
    height: 200px;
  }

  .div-block-21.tablet {
    width: 200px;
    height: 200px;
  }

  .div-block-21.footer {
    width: 200px;
    height: 200px;
  }

  .div-block-23 {
    width: 170px;
    height: 170px;
  }

  .gallery-grid-container_footer {
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
  }

  .nav-menu {
    background-color: #636363;
  }

  .menu-button {
    background-color: #000;
  }

  .icon-3 {
    color: #fff;
  }

  .dropdown-list.w--open {
    position: relative;
    background-color: #555;
  }
}

@media screen and (max-width: 767px) {
  .right-arrow {
    background-color: transparent;
  }

  .icon {
    margin-left: 40px;
  }

  .mask {
    position: relative;
    top: auto;
  }

  .slider {
    padding-right: 40px;
    padding-left: 40px;
  }

  .left-arrow {
    background-color: transparent;
  }

  .text-block-7 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading {
    margin-right: 40px;
    margin-left: 40px;
  }

  .section-8 {
    margin-top: 100px;
    margin-bottom: 220px;
    margin-left: 0px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .image-5 {
    margin-left: -42px;
  }

  .para {
    margin-top: 10px;
    margin-right: 0px;
    font-family: 'Droid Serif', serif;
    text-align: left;
  }

  .para.white {
    font-weight: 400;
  }

  .sectionspacetask {
    margin-top: 140px;
    margin-bottom: 140px;
  }

  .image-11 {
    max-width: 70%;
    margin: 20px auto 40px 60px;
  }

  .columns-2 {
    margin-top: auto;
    margin-bottom: auto;
  }

  .sction3 {
    margin-top: 100px;
  }

  .image-14 {
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }

  .image-16 {
    max-width: 90%;
    margin-left: 20px;
  }

  .image-17 {
    max-width: 90%;
    margin-left: 20px;
  }

  .image-18 {
    max-width: 90%;
    margin-left: 20px;
  }

  .image-20 {
    max-width: 100%;
    margin-left: 0px;
  }

  .column_para {
    margin-top: 10px;
  }

  .icon-2 {
    margin-right: 40px;
  }

  .container {
    padding-right: 40px;
    padding-left: 40px;
  }

  .image-21 {
    margin-bottom: 40px;
  }

  .columns-4 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .contact_title {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .heading-13 {
    text-align: left;
  }

  .paragraph-18 {
    text-align: left;
  }

  .text-block-19 {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 25%;
    -ms-flex: 0 25%;
    flex: 0 25%;
  }

  .feature-section {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-9 {
    padding-right: 50px;
    padding-left: 50px;
  }

  .gallery {
    padding: 40px 20px;
  }

  .gallery-grid-container-2 {
    max-width: none;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .div-block-17.mobile_flat {
    width: 255px;
  }

  .div-block-18.mobile_flat {
    width: 255px;
  }

  .div-block-21.mobile_flat {
    width: 255px;
  }

  .div-block-23.mobile_flat {
    width: 255px;
  }

  .home_heading {
    padding: 80px 20px;
  }

  .gallery-grid-container_footer {
    max-width: none;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .slider {
    padding-right: 40px;
    padding-left: 40px;
  }

  .sub-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
  }

  .heading {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 24px;
    line-height: 30px;
  }

  .heading.white {
    margin-right: auto;
    margin-left: auto;
  }

  .columns {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .section-7 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-8 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .bold-text {
    font-size: 24px;
    line-height: 30px;
  }

  .heading-3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 30px;
  }

  .image-5 {
    max-width: 110%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: -15px;
  }

  .para {
    text-align: left;
  }

  .image-11 {
    max-width: 90%;
    margin-top: 40px;
    margin-left: auto;
  }

  .column {
    margin-top: 40px;
  }

  .columns-2 {
    margin-top: auto;
  }

  .quote {
    margin-right: 20px;
    margin-left: 20px;
  }

  .image_1st {
    margin-left: 20px;
  }

  .sction3 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .image-15 {
    margin-top: 0px;
    padding-bottom: 20px;
  }

  .image-16 {
    max-width: 100%;
    margin-left: auto;
  }

  .image-17 {
    max-width: 100%;
    margin-left: auto;
  }

  .image-18 {
    max-width: 100%;
    margin-left: auto;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .column-4 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-5 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .paragraph-17 {
    font-size: 16px;
  }

  .heading-12 {
    font-size: 18px;
  }

  .heading-13 {
    font-size: 18px;
  }

  .paragraph-18 {
    font-size: 16px;
    font-weight: 500;
  }

  .text-block-19 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .feature-section {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .flexchild {
    -webkit-box-flex: 0;
    -webkit-flex: 0 50%;
    -ms-flex: 0 50%;
    flex: 0 50%;
  }

  .flexparent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .finding-with-padding {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .finding-with-padding-_title {
    margin-left: auto;
  }

  .div-block-8 {
    position: static;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: block;
    padding-right: 160px;
    padding-bottom: 0px;
    padding-left: 160px;
  }

  .column-9 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .link-block-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 33%;
    -ms-flex: 0 33%;
    flex: 0 33%;
  }

  .centered-container {
    text-align: left;
  }

  .gallery-grid-container-2 {
    margin-right: 0px;
    margin-left: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }

  .gallery-grid-container-2.mobile_nornmal {
    grid-auto-columns: minmax(200px, 0.25fr);
  }

  .textover_heading_big {
    font-size: 18px;
  }

  .textover_para_big {
    font-size: 14px;
  }

  .text_overimage {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-top: 0px;
    padding-bottom: 20px;
    text-align: center;
  }

  .text_overimage_small {
    text-align: center;
  }

  .div-block-17 {
    width: 280px;
  }

  .div-block-18.mobile_normal {
    width: 280px;
  }

  .div-block-19 {
    width: 200px;
    height: 200px;
  }

  .div-block-19.mobile_normal {
    width: 280px;
    height: 170px;
  }

  .div-block-20.mobile_normal {
    width: 280px;
    height: 170px;
  }

  .div-block-21 {
    width: 200px;
  }

  .div-block-21.mobile_flat {
    width: 280px;
  }

  .heading-12-copy {
    font-size: 18px;
  }

  .div-block-23.mobile_flat {
    width: 280px;
  }

  .text-block-23 {
    margin-top: 120px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .container-6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .gallery-grid-container_footer {
    margin-right: 0px;
    margin-left: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }

  .dropdown-list {
    background-color: #d5cfcf;
  }

  .dropdown_nag_link {
    color: #fff;
  }
}

#GoToProject3.w-node-06677bbdf956-51b89bd9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject4.w-node-39820ee59a1a-51b89bd9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject5.w-node-39820ee59a24-51b89bd9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject6.w-node-39820ee59a2e-51b89bd9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-39820ee59a3a-51b89bd9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#Link-to-Project1.w-node-2072d325f26e-afb89bdc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject4.w-node-1bbff66de285-afb89bdc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject5.w-node-2072d325f283-afb89bdc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject6.w-node-2072d325f28d-afb89bdc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-2072d325f299-afb89bdc {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#Link-to-Project1.w-node-763401e19a09-17b89bdd {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject3.w-node-763401e19a13-17b89bdd {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject5.w-node-51519d036b89-17b89bdd {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject6.w-node-763401e19a28-17b89bdd {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-763401e19a34-17b89bdd {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#Link-to-Project1.w-node-9d97d20546a5-1e0fa9b6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject3.w-node-9d97d20546af-1e0fa9b6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject4.w-node-9d97d20546ba-1e0fa9b6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject6.w-node-aa51c50ca1a0-1e0fa9b6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-9d97d20546ce-1e0fa9b6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#Link-to-Project1.w-node-18f6a1f43eca-a87edd83 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject3.w-node-18f6a1f43ed4-a87edd83 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject4.w-node-18f6a1f43edf-a87edd83 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject5.w-node-18f6a1f43ee9-a87edd83 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject6.w-node-18f6a1f43ef3-a87edd83 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-18f6a1f43eff-a87edd83 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-52ee5f2f52d8-257dbb35 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

#w-node-27a6460c2690-257dbb35 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-3;
}

#w-node-27a9a38ee865-257dbb35 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#Link-to-Project1.w-node-56481da06a5c-257dbb35 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject3.w-node-56481da06a66-257dbb35 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject4.w-node-56481da06a71-257dbb35 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject5.w-node-56481da06a7b-257dbb35 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-839ccfd97800-257dbb35 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#Link-to-Project1.w-node-35fec26446b3-d856697c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject3.w-node-35fec26446bd-d856697c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject4.w-node-35fec26446c8-d856697c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject5.w-node-35fec26446d2-d856697c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#GoToProject6.w-node-35fec26446dc-d856697c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

@media screen and (max-width: 479px) {
  #GoToProject4.w-node-1bbff66de285-afb89bdc {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #Link-to-Project1.w-node-18f6a1f43eca-a87edd83 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #GoToProject3.w-node-18f6a1f43ed4-a87edd83 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}