
	@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

.mediaViewInfo {
	--web-view-name: Desktop -1024;
	--web-view-id: Desktop__1024;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Desktop__1024;
}
* {
	margin: 0;
	padding: 0;
}
#Desktop__1024 {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1440px;
	height: 8227px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Desktop -1024;
	--web-view-id: Desktop__1024;
	--web-enable-deep-linking: true;
}

#Group {
	position: absolute;
	width: 1798.653px;
	height: 3262px;
	left: -254.391px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 .Background_Color {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 182.681px;
	width: 1615.972px;
	height: 3262px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 #Shadow {
	filter: drop-shadow(0px 5px 50px rgba(229, 203, 227, 1));
}
#Desktop__1024 .Shadow {
	overflow: visible;
	position: absolute;
	top: -80px;
	left: -130px;
	width: 1800px;
	height: 1031px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Rectangle {
	position: absolute;
	overflow: visible;
	width: 184px;
	height: 92px;
	left: 481.391px;
	top: 1039px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 264px;
	left: 851.391px;
	top: 1339.954px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 397px;
	left: 1511.391px;
	top: 881px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 307px;
	left: 297.391px;
	top: 1276px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 377px;
	height: 53px;
	left: 1200.391px;
	top: 1377.107px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 85px;
	left: 767.391px;
	top: 1160.954px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 90px;
	height: 90px;
	left: 439.391px;
	top: 2147.107px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 74px;
	left: 852.391px;
	top: 2237.107px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 265px;
	height: 265px;
	left: 105.391px;
	top: 2715px;
}
#Desktop__1024 .Oval {
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 150px;
	left: 521.391px;
	top: 2640px;
}
#Desktop__1024 .Oval_A1_Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 173px;
	left: 1293.391px;
	top: 2019px;
}
#Desktop__1024 .Oval_A1_Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 177px;
	height: 177px;
	left: 1380.391px;
	top: 2509.107px;
}
#Desktop__1024 .Oval_A1_Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 124px;
	left: 297.391px;
	top: 1721px;
}
#Desktop__1024 .Oval_A1_Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 205px;
	left: 942.391px;
	top: 1429.107px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 352px;
	height: 54px;
	left: 1159.391px;
	top: 2237.107px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 301px;
	left: 840.391px;
	top: 2560.107px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 305px;
	height: 57px;
	left: 211.391px;
	top: 2583px;
}
#Desktop__1024 #AI {
	position: absolute;
	width: 920px;
	height: 381px;
	left: 260px;
	top: 2284px;
	overflow: visible;
}
#Desktop__1024 .Rectangle_A1_Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 504px;
	height: 274px;
	left: 416px;
	top: 49px;
}
#Desktop__1024 #Use_of_AI__Due_to_th {
	position: absolute;
	left: 455px;
	top: 86px;
	overflow: hidden;
	width: 433px;
	height: 295px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(74,74,74,1);
}
#Desktop__1024 #AI_Image {
	position: absolute;
	width: 307px;
	height: 364.713px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 .Path {
	overflow: visible;
	position: absolute;
	top: 28.856px;
	left: 161.115px;
	width: 155.544px;
	height: 193.154px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Path_A1_Path_4 {
	overflow: visible;
	position: absolute;
	top: 210.01px;
	left: 193.979px;
	width: 86.157px;
	height: 96.577px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Path_A1_Path_5 {
	overflow: visible;
	position: absolute;
	top: 300.587px;
	left: 209.209px;
	width: 12px;
	height: 64.125px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Rectangle_A1_Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 40.856px;
	height: 40.856px;
	left: 118.632px;
	top: 0px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 40.856px;
	height: 40.856px;
	left: 33.666px;
	top: 32.063px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 40.856px;
	height: 40.856px;
	left: 0px;
	top: 117.029px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 40.856px;
	height: 40.856px;
	left: 33.666px;
	top: 203.598px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 40.856px;
	height: 40.856px;
	left: 118.632px;
	top: 234.859px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 36.67px;
	height: 36.67px;
	left: 115.426px;
	top: 113.823px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 133.838px;
	height: 133.838px;
	left: 72.141px;
	top: 73.744px;
}
#Desktop__1024 .Path_A1_Path_6 {
	overflow: visible;
	position: absolute;
	top: 131.457px;
	left: 33.666px;
	width: 84.966px;
	height: 12px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Path_A1_Path_7 {
	overflow: visible;
	position: absolute;
	top: 60.919px;
	left: 62.522px;
	width: 79.023px;
	height: 79.023px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Path_A1_Path_8 {
	overflow: visible;
	position: absolute;
	top: 133.862px;
	left: 62.522px;
	width: 78.222px;
	height: 78.222px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Path_A1_Path_9 {
	overflow: visible;
	position: absolute;
	top: 28.456px;
	left: 132.659px;
	width: 12px;
	height: 206.003px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Rectangle_A1_Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 12.222px;
	height: 12.222px;
	left: 207.606px;
	top: 105.807px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 12.222px;
	height: 12.222px;
	left: 207.606px;
	top: 125.846px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 12.222px;
	height: 12.222px;
	left: 207.606px;
	top: 147.488px;
}
#Desktop__1024 #Top {
	position: absolute;
	width: 1458px;
	height: 816px;
	left: -51px;
	top: -130.152px;
	overflow: visible;
}
#Desktop__1024 #TopBg {
	position: absolute;
	width: 1458px;
	height: 779px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 .Oval_A1_Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 763.828px;
	height: 755.79px;
	left: 694.172px;
	top: 0px;
}
#Desktop__1024 .Oval_A1_Ellipse_7 {
	position: absolute;
	overflow: visible;
	width: 297.886px;
	height: 294.482px;
	left: 368.157px;
	top: 0px;
}
#Desktop__1024 .Oval_A1_Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 218px;
	height: 216px;
	left: 0px;
	top: 214.152px;
}
#Desktop__1024 .Oval_A1_Ellipse_9 {
	position: absolute;
	overflow: visible;
	width: 163.008px;
	height: 161.022px;
	left: 532.607px;
	top: 617.978px;
}
#Desktop__1024 .Oval_A1_Ellipse_10 {
	position: absolute;
	overflow: visible;
	width: 89.438px;
	height: 88.49px;
	left: 234px;
	top: 578.81px;
}
#Desktop__1024 #Have_you_ever_feel_A {
	position: absolute;
	left: 303px;
	top: 335px;
	overflow: hidden;
	width: 432px;
	height: 37px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
#Desktop__1024 #CHAT_IT_OUT__is_a_he {
	position: absolute;
	left: 303px;
	top: 404px;
	overflow: hidden;
	width: 469px;
	height: 148px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
#Desktop__1024 .Nokia_MockUp {
	position: absolute;
	overflow: visible;
	width: 765px;
	height: 576px;
	left: 635px;
	top: 179px;
}
#Desktop__1024 .PinClipart_com_100th_day_clip_ {
	position: absolute;
	overflow: visible;
	width: 203px;
	height: 170px;
	left: 483px;
	top: 646px;
}
#Desktop__1024 #Email___meifu_wk_gma {
	position: absolute;
	left: 1000px;
	top: 152.152px;
	overflow: hidden;
	width: 266px;
	height: 88px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(95,95,95,1);
}
#Desktop__1024 #Introduction {
	position: absolute;
	width: 910px;
	height: 742px;
	left: 265px;
	top: 726px;
	overflow: visible;
}
#Desktop__1024 #Introduction_Text {
	position: absolute;
	width: 437px;
	height: 510px;
	left: 473px;
	top: 86px;
	overflow: visible;
}
#Desktop__1024 .Rectangle_A1_Rectangle_28 {
	position: absolute;
	overflow: visible;
	width: 387.215px;
	height: 414px;
	left: 49.785px;
	top: 96px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_29 {
	position: absolute;
	overflow: visible;
	width: 387.215px;
	height: 414px;
	left: 0px;
	top: 52px;
}
#Desktop__1024 #People_are_social_cr {
	position: absolute;
	left: 38.03px;
	top: 76.871px;
	overflow: hidden;
	width: 312.155px;
	height: 368px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(74,74,74,1);
}
#Desktop__1024 #WHY_WE_NEED_THIS_ {
	position: absolute;
	left: 13px;
	top: 0px;
	overflow: hidden;
	width: 295px;
	height: 49px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(241,84,67,1);
}
#Desktop__1024 #Image {
	position: absolute;
	width: 430px;
	height: 742px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 #Group_2 {
	position: absolute;
	width: 411.334px;
	height: 264.16px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 #Image1 {
	position: absolute;
	width: 378.842px;
	height: 236.5px;
	left: 0px;
	top: 27.661px;
	overflow: visible;
}
#Desktop__1024 #backlit_bonding_casual_708392 {
	position: absolute;
	width: 378.842px;
	height: 236.5px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 .Mask_A1_Rectangle_33 {
	position: absolute;
	overflow: visible;
	width: 378.842px;
	height: 236.5px;
	left: 0px;
	top: 0px;
}
#Desktop__1024 #backlit_bonding_casual_708392_A1_Group_12 {
	position: absolute;
	width: 378.842px;
	height: 236.5px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 .Rectangle_A1_Rectangle_34 {
	position: absolute;
	overflow: visible;
	width: 393.36px;
	height: 245.489px;
	left: 17.974px;
	top: 0px;
}
#Desktop__1024 #Group_4 {
	position: absolute;
	width: 412.026px;
	height: 451.562px;
	left: 17.974px;
	top: 290.438px;
	overflow: visible;
}
#Desktop__1024 #Image2 {
	position: absolute;
	width: 179.051px;
	height: 178.412px;
	left: 232.974px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 .Mask_A1_Rectangle_38 {
	position: absolute;
	overflow: visible;
	width: 179.051px;
	height: 178.412px;
	left: 0px;
	top: 0px;
}
#Desktop__1024 #Image2_A1_Group_15 {
	position: absolute;
	width: 179.051px;
	height: 178.412px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 #dab_dancing_enjoyment_1812402 {
	position: absolute;
	width: 224.678px;
	height: 299.428px;
	left: 0px;
	top: 152.134px;
	overflow: visible;
}
#Desktop__1024 .Mask_A1_Rectangle_42 {
	position: absolute;
	overflow: visible;
	width: 224.678px;
	height: 299.428px;
	left: 0px;
	top: 0px;
}
#Desktop__1024 #dab_dancing_enjoyment_1812402_A1_Group_17 {
	position: absolute;
	width: 224.678px;
	height: 299.428px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 #Aims {
	position: absolute;
	width: 1072px;
	height: 794.804px;
	left: 184px;
	top: 1470px;
	overflow: visible;
}
#Desktop__1024 #WhatIsThis {
	position: absolute;
	width: 429px;
	height: 74px;
	left: 0px;
	top: 173px;
	overflow: visible;
}
#Desktop__1024 .Rectangle_Copy_4 {
	position: absolute;
	overflow: visible;
	width: 429px;
	height: 72px;
	left: 0px;
	top: 1px;
}
#Desktop__1024 #WHAT_IS_THIS_ {
	position: absolute;
	left: 73px;
	top: 15px;
	overflow: hidden;
	width: 306px;
	height: 74px;
	text-align: right;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
#Desktop__1024 #VideoDemo1 {
	position: absolute;
	width: 455.943px;
	height: 624px;
	left: 616.057px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 .Rectangle_A1_Rectangle_44 {
	position: absolute;
	overflow: visible;
	width: 250px;
	height: 435px;
	left: 103.842px;
	top: 114.548px;
}
#Desktop__1024 .Ardiod_Image {
	position: absolute;
	overflow: visible;
	width: 445px;
	height: 624px;
	left: 6px;
	top: 20px;
}
#Desktop__1024 #About_App__Text {
	position: absolute;
	width: 513px;
	height: 514.615px;
	left: 114px;
	top: 280.189px;
	overflow: visible;
}
#Desktop__1024 .Rectangle_A1_Rectangle_48 {
	position: absolute;
	overflow: visible;
	width: 474px;
	height: 377px;
	left: 39px;
	top: 0px;
}
#Desktop__1024 .Rectangle_Copy {
	position: absolute;
	overflow: visible;
	width: 474px;
	height: 377px;
	left: 0px;
	top: 26px;
}
#Desktop__1024 #Square {
	position: absolute;
	width: 407px;
	height: 452px;
	left: 30.91px;
	top: 62.615px;
	overflow: visible;
}
#Desktop__1024 #AIMS___1__NOT_FOR_DA {
	position: absolute;
	left: 0px;
	top: 210px;
	overflow: hidden;
	width: 408px;
	height: 227px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
#Desktop__1024 #Chat_It_Out__is_a_so {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 336px;
	height: 315px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(74,74,74,1);
}
#Desktop__1024 #Channels {
	position: absolute;
	width: 938px;
	height: 623px;
	left: 251px;
	top: 2639px;
	overflow: visible;
}
#Desktop__1024 #VideoDemo2 {
	position: absolute;
	width: 452px;
	height: 623px;
	left: 486px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 .Video2 {
	position: absolute;
	overflow: visible;
	width: 249.754px;
	height: 402.118px;
	left: 102.48px;
	top: 114.531px;
}
#Desktop__1024 .Ardiod_Image_A1_Rectangle_52 {
	position: absolute;
	overflow: visible;
	width: 445px;
	height: 624px;
	left: 6px;
	top: 20px;
}
#Desktop__1024 #Text {
	position: absolute;
	width: 523px;
	height: 274px;
	left: 0px;
	top: 168px;
	overflow: visible;
}
#Desktop__1024 .Rectangle_Copy_2 {
	position: absolute;
	overflow: visible;
	width: 505px;
	height: 251px;
	left: 18px;
	top: 23px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_55 {
	position: absolute;
	overflow: visible;
	width: 498px;
	height: 251px;
	left: 0px;
	top: 0px;
}
#Desktop__1024 #Channel___Activities {
	position: absolute;
	left: 38px;
	top: 50px;
	overflow: hidden;
	width: 449px;
	height: 273px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(74,74,74,1);
}
#Desktop__1024 #SOS_Image {
	position: absolute;
	width: 130.637px;
	height: 125.22px;
	left: 150px;
	top: 470.39px;
	overflow: visible;
}
#Desktop__1024 #Group_A1_Group_27 {
	position: absolute;
	width: 130.637px;
	height: 125.22px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 .Shape {
	overflow: visible;
	position: absolute;
	top: 42.184px;
	left: 53.991px;
	width: 22.652px;
	height: 40.853px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Path_A1_Path_10 {
	overflow: visible;
	position: absolute;
	top: 42.184px;
	left: 23.997px;
	width: 22.664px;
	height: 40.853px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Path_A1_Path_11 {
	overflow: visible;
	position: absolute;
	top: 42.184px;
	left: 83.986px;
	width: 22.652px;
	height: 40.853px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Path_A1_Path_12 {
	overflow: visible;
	position: absolute;
	top: 96.432px;
	left: 11.992px;
	width: 106.655px;
	height: 4.68px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Path_A1_Path_13 {
	overflow: visible;
	position: absolute;
	top: 24.108px;
	left: 11.992px;
	width: 106.655px;
	height: 4.679px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Path_A1_Path_14 {
	overflow: visible;
	position: absolute;
	top: 60.262px;
	left: 0px;
	width: 130.636px;
	height: 64.958px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Path_A1_Path_15 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 130.637px;
	height: 64.958px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 #Location_Image {
	position: absolute;
	width: 78px;
	height: 115px;
	left: 465px;
	top: 53px;
	overflow: visible;
}
#Desktop__1024 .Shape_A1_BooleanGroup_2 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 78px;
	height: 115px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 .Shape_A1_BooleanGroup_3 {
	overflow: visible;
	position: absolute;
	top: 12.059px;
	left: 27.374px;
	width: 22.664px;
	height: 22.941px;
	transform: matrix(1,0,0,1,0,0);
}
#Desktop__1024 #Personas {
	position: absolute;
	width: 1149px;
	height: 692px;
	left: 146px;
	top: 3357px;
	overflow: visible;
}
#Desktop__1024 .Resreach_BG {
	position: absolute;
	overflow: visible;
	width: 1058px;
	height: 704px;
	left: 73px;
	top: -15px;
}

#Desktop__1024 .Grey {
	position: absolute;
	overflow: visible;
	width: 996px;
	height: 708px;
	left: 103px;
	top: -15px;
}
#Desktop__1024 #Group_5 {
	opacity: 0.637;
	position: absolute;
	width: 1149px;
	height: 653px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 #action_action_energy_active_28 {
	opacity: 0.2;
}
#Desktop__1024 .action_action_energy_active_28 {
	position: absolute;
	overflow: visible;
	width: 157.028px;
	height: 235.191px;
	left: 744.325px;
	top: 18.677px;
}
#Desktop__1024 #adult_attractive_beautiful_277 {
	opacity: 0.583;
}
#Desktop__1024 .adult_attractive_beautiful_277 {
	position: absolute;
	overflow: visible;
	width: 353.485px;
	height: 272.544px;
	left: 0px;
	top: 0px;
}
#Desktop__1024 #adult_beautiful_beauty_2887878 {
	opacity: 0.532;
}
#Desktop__1024 .adult_beautiful_beauty_2887878 {
	position: absolute;
	overflow: visible;
	width: 181.931px;
	height: 272.544px;
	left: 152.877px;
	top: 380.456px;
}
#Desktop__1024 #adolescent_apple_brand_logo_28 {
	opacity: 0.4;
}
#Desktop__1024 .adolescent_apple_brand_logo_28 {
	position: absolute;
	overflow: visible;
	width: 259.407px;
	height: 324.425px;
	left: 402.6px;
	top: 218.589px;
}
#Desktop__1024 #adult_alluring_attractive_2879 {
	opacity: 0.45;
}
#Desktop__1024 .adult_alluring_attractive_2879 {
	position: absolute;
	overflow: visible;
	width: 277.393px;
	height: 416.426px;
	left: 871.607px;
	top: 200.604px;
}
#Desktop__1024 #RESEARCH___INSPIRATI {
	position: absolute;
	left: 251px;
	top: 17px;
	overflow: hidden;
	width: 691px;
	height: 35px;
	text-align: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(74,74,74,1);
}
#Desktop__1024 #Persona2 {
	position: absolute;
	width: 431px;
	height: 352px;
	left: 596px;
	top: 340px;
	overflow: visible;
}
#Desktop__1024 #Secondary_Persona {
	position: absolute;
	left: 11.761px;
	top: 0px;
	overflow: hidden;
	width: 379.422px;
	height: 39.418px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(72,72,72,1);
}
#Desktop__1024 .Presona_SunLi {
	position: absolute;
	overflow: visible;
	width: 431px;
	height: 318.114px;
	left: 0px;
	top: 33.886px;
}
#Desktop__1024 #Persona1 {
	position: absolute;
	width: 396px;
	height: 352px;
	left: 165px;
	top: 64px;
	overflow: visible;
}
#Desktop__1024 .Presona_AndyCheung {
	position: absolute;
	overflow: visible;
	width: 396px;
	height: 318.806px;
	left: 0px;
	top: 33.195px;
}
#Desktop__1024 #Primary_Persona {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 303.538px;
	height: 38.727px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(72,72,72,1);
}
#Desktop__1024 #Competitive {
	position: absolute;
	width: 1440px;
	height: 1885px;
	left: 0px;
	top: 4122px;
	overflow: visible;
}
#Desktop__1024 .Rectangle_A1_Rectangle_73 {
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 1452px;
	left: 0px;
	top: 0px;
}
#Desktop__1024 .Rectangle_Copy_6 {
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 1452px;
	left: 1101px;
	top: 0px;
}
#Desktop__1024 #SideText {
	position: absolute;
	width: 49px;
	height: 1875px;
	left: 282px;
	top: 10px;
	overflow: visible;
}
#Desktop__1024 #Competitive_Analysis_Copy_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	transform: rotate(-90deg);
	transform-origin: left;
	overflow: hidden;
	width: 474px;
	height: 49px;
	text-align: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(255,194,137,1);
}
#Desktop__1024 #Competitive_Analysis_Copy_3 {
	position: absolute;
	left: 0px;
	top: 456px;
	transform: rotate(-90deg);
	transform-origin: left;
	overflow: hidden;
	width: 474px;
	height: 49px;
	text-align: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(255,194,137,1);
}
#Desktop__1024 #Competitive_Analysis_Copy_4 {
	position: absolute;
	left: 0px;
	top: 929px;
	transform: rotate(-90deg);
	transform-origin: left;
	overflow: hidden;
	width: 474px;
	height: 49px;
	text-align: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(255,194,137,1);
}
#Desktop__1024 #Competitive_Analysis_Copy_5 {
	position: absolute;
	left: 0px;
	top: 1402px;
	transform: rotate(-90deg);
	transform-origin: left;
	overflow: hidden;
	width: 474px;
	height: 49px;
	text-align: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(255,194,137,1);
}
#Desktop__1024 #COMPETITIVE_ANALYSIS {
	position: absolute;
	left: 405px;
	top: 23px;
	overflow: hidden;
	width: 633px;
	height: 36px;
	text-align: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Desktop__1024 .ChatItOut_Competivites {
	position: absolute;
	overflow: visible;
	width: 705px;
	height: 1302px;
	left: 368px;
	top: 80px;
}
#Desktop__1024 #Design_Justification {
	position: absolute;
	width: 1025px;
	height: 734px;
	left: 208px;
	top: 5572px;
	overflow: visible;
}
#Desktop__1024 .DesignJusticify {
	position: absolute;
	overflow: visible;
	width: 1025px;
	height: 734px;
	left: 0px;
	top: 0px;
}
#Desktop__1024 #Rectangle_A1_Rectangle_79 {
	opacity: 0.772;
}
#Desktop__1024 .Rectangle_A1_Rectangle_79 {
	position: absolute;
	overflow: visible;
	width: 1025px;
	height: 734px;
	left: 0px;
	top: 0px;
}
#Desktop__1024 #DESIGN_JUSTIFICATION {
	position: absolute;
	left: 224px;
	top: 161px;
	overflow: hidden;
	width: 577px;
	height: 40px;
	text-align: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Desktop__1024 #After_research_on_th {
	position: absolute;
	left: 130px;
	top: 220px;
	overflow: hidden;
	width: 765px;
	height: 354px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(30,30,30,1);
}
#Desktop__1024 #WorkFlow {
	position: absolute;
	width: 1482px;
	height: 730.307px;
	left: -21px;
	top: 6306.276px;
	overflow: visible;
}
#Desktop__1024 #Workflow_BG {
	position: absolute;
	width: 1482px;
	height: 730.307px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 .Rectangle_A1_Rectangle_80 {
	position: absolute;
	overflow: visible;
	width: 996.78px;
	height: 730.307px;
	left: 341.04px;
	top: 0px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_81 {
	position: absolute;
	overflow: visible;
	width: 702.876px;
	height: 18.015px;
	left: 339.654px;
	top: 30.904px;
}
#Desktop__1024 .Rectangle_Copy_11 {
	position: absolute;
	overflow: visible;
	width: 1000.246px;
	height: 25.637px;
	left: 85.26px;
	top: 552.927px;
}
#Desktop__1024 .Rectangle_Copy_7 {
	position: absolute;
	overflow: visible;
	width: 486.606px;
	height: 12.472px;
	left: 0px;
	top: 208.56px;
}
#Desktop__1024 .Rectangle_Copy_13 {
	position: absolute;
	overflow: visible;
	width: 486.606px;
	height: 12.472px;
	left: 868.544px;
	top: 99.776px;
}
#Desktop__1024 .Rectangle_Copy_9 {
	position: absolute;
	overflow: visible;
	width: 486.606px;
	height: 12.472px;
	left: 585.036px;
	top: 471.859px;
}
#Desktop__1024 .Rectangle_Copy_8 {
	position: absolute;
	overflow: visible;
	width: 486.606px;
	height: 12.472px;
	left: 410.357px;
	top: 229.347px;
}
#Desktop__1024 .Rectangle_Copy_10 {
	position: absolute;
	overflow: visible;
	width: 486.606px;
	height: 12.472px;
	left: 995.394px;
	top: 492.645px;
}
#Desktop__1024 .Rectangle_Copy_12 {
	position: absolute;
	overflow: visible;
	width: 486.606px;
	height: 12.472px;
	left: 842.203px;
	top: 636.074px;
}
#Desktop__1024 #WORKFLOW {
	position: absolute;
	left: 591px;
	top: 64.724px;
	overflow: hidden;
	width: 336px;
	height: 35px;
	text-align: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Desktop__1024 #Image_A1_Group_38 {
	position: absolute;
	width: 803px;
	height: 510px;
	left: 439px;
	top: 121.724px;
	overflow: visible;
}
#Desktop__1024 #Rectangle_A1_Rectangle_89 {
	opacity: 0.7;
}
#Desktop__1024 .Rectangle_A1_Rectangle_89 {
	position: absolute;
	overflow: visible;
	width: 803px;
	height: 510px;
	left: -80px;
	top: 0px;
}
#Desktop__1024 .ChatItOut_UserFlow {
	position: absolute;
	overflow: visible;
	width: 803px;
	height: 510px;
	left: -80px;
	top: 0px;
}
#Desktop__1024 #WireFrame {
	position: absolute;
	width: 1475.058px;
	height: 620.007px;
	left: -78px;
	top: 6975px;
	overflow: visible;
}
#Desktop__1024 #Wireframe_Bg {
	position: absolute;
	width: 1475.058px;
	height: 620.007px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 .Oval_A1_Ellipse_11 {
	position: absolute;
	overflow: visible;
	width: 247.682px;
	height: 247.609px;
	left: 967.434px;
	top: 12.935px;
}
#Desktop__1024 .Oval_A1_Ellipse_12 {
	position: absolute;
	overflow: visible;
	width: 247.682px;
	height: 247.609px;
	left: 0px;
	top: 186px;
}
#Desktop__1024 .Oval_A1_Ellipse_13 {
	position: absolute;
	overflow: visible;
	width: 186.07px;
	height: 186.015px;
	left: 393.822px;
	top: 408.985px;
}
#Desktop__1024 #Oval_A1_Ellipse_14 {
	opacity: 0.5;
}
#Desktop__1024 .Oval_A1_Ellipse_14 {
	position: absolute;
	overflow: visible;
	width: 93.035px;
	height: 93.007px;
	left: 563.872px;
	top: 51.123px;
}
#Desktop__1024 #Oval_A1_Ellipse_15 {
	opacity: 0.5;
}
#Desktop__1024 .Oval_A1_Ellipse_15 {
	position: absolute;
	overflow: visible;
	width: 93.035px;
	height: 93.007px;
	left: 155px;
	top: 527px;
}
#Desktop__1024 .Oval_A1_Ellipse_16 {
	position: absolute;
	overflow: visible;
	width: 33.887px;
	height: 33.877px;
	left: 871.935px;
	top: 144.13px;
}
#Desktop__1024 .Oval_A1_Ellipse_17 {
	position: absolute;
	overflow: visible;
	width: 136.78px;
	height: 136.739px;
	left: 1173.22px;
	top: 458.261px;
}
#Desktop__1024 #Oval_A1_Ellipse_18 {
	opacity: 0.5;
}
#Desktop__1024 .Oval_A1_Ellipse_18 {
	position: absolute;
	overflow: visible;
	width: 136.78px;
	height: 136.739px;
	left: 830.655px;
	top: 365.254px;
}
#Desktop__1024 #Oval_A1_Ellipse_19 {
	opacity: 0.5;
}
#Desktop__1024 .Oval_A1_Ellipse_19 {
	position: absolute;
	overflow: visible;
	width: 136.78px;
	height: 136.739px;
	left: 1338px;
	top: 192px;
}
#Desktop__1024 .Oval_A1_Ellipse_20 {
	position: absolute;
	overflow: visible;
	width: 136.78px;
	height: 136.739px;
	left: 286px;
	top: 0px;
}
#Desktop__1024 .Oval_A1_Ellipse_21 {
	position: absolute;
	overflow: visible;
	width: 33.887px;
	height: 33.877px;
	left: 303.868px;
	top: 429.927px;
}
#Desktop__1024 .Oval_A1_Ellipse_22 {
	position: absolute;
	overflow: visible;
	width: 48.058px;
	height: 48.043px;
	left: 1427px;
	top: 479px;
}
#Desktop__1024 #WIREFRAME {
	position: absolute;
	left: 616px;
	top: 115px;
	overflow: hidden;
	width: 366px;
	height: 49px;
	text-align: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Desktop__1024 #WireFrame_Summary {
	position: absolute;
	width: 874px;
	height: 293px;
	left: 361px;
	top: 152px;
	overflow: visible;
}
#Desktop__1024 #WireFrame_Summary_A1_Rectangle_92 {
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.502));
}
#Desktop__1024 .WireFrame_Summary_A1_Rectangle_92 {
	position: absolute;
	overflow: visible;
	width: 886px;
	height: 305px;
	left: 0px;
	top: 0px;
}
#Desktop__1024 .WireFrame_Summary_A1_Rectangle_94 {
	position: absolute;
	overflow: visible;
	width: 874px;
	height: 293px;
	left: 0px;
	top: 0px;
}
#Desktop__1024 #FinalDesign {
	position: absolute;
	width: 1440px;
	height: 344px;
	left: 0.156px;
	top: 7620px;
	overflow: visible;
}
#Desktop__1024 #FinalDesign_BG {
	position: absolute;
	width: 1440px;
	height: 344px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Desktop__1024 .Rectangle_A1_Rectangle_95 {
	position: absolute;
	overflow: visible;
	width: 1440px;
	height: 344px;
	left: 0px;
	top: 0px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_96 {
	position: absolute;
	overflow: visible;
	width: 573px;
	height: 344px;
	left: 207.844px;
	top: 0px;
}
#Desktop__1024 .MutiFinal_MockUp {
	position: absolute;
	overflow: visible;
	width: 573.156px;
	height: 344px;
	left: 207.844px;
	top: 0px;
}
#Desktop__1024 #Text_A1_Group_44 {
	position: absolute;
	width: 343px;
	height: 218px;
	left: 834.844px;
	top: 60px;
	overflow: visible;
}
#Desktop__1024 #FIANL_DESIGN {
	position: absolute;
	left: -10px;
	top: 0px;
	overflow: hidden;
	width: 344px;
	height: 35.505px;
	text-align: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Desktop__1024 #The_layout_have_just {
	position: absolute;
	left: 6.391px;
	top: 54.677px;
	overflow: hidden;
	width: 331.928px;
	height: 163.322px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(74,74,74,1);
}
#Desktop__1024 #Footer {
	position: absolute;
	width: 1440px;
	height: 263px;
	left: 0px;
	top: 7964px;
	overflow: visible;
}
#Desktop__1024 .Rectangle_A1_Rectangle_99 {
	position: absolute;
	overflow: visible;
	width: 1440px;
	height: 263px;
	left: 0px;
	top: 0px;
}
#Desktop__1024 #Created_by___Mei_Fu {
	position: absolute;
	left: 229px;
	top: 45px;
	overflow: hidden;
	width: 339px;
	height: 151px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(74,74,74,1);
}
#Desktop__1024 #Chat_It_Out__An_idea {
	position: absolute;
	left: 536px;
	top: 45px;
	overflow: hidden;
	width: 284px;
	height: 77px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(74,74,74,1);
}
#Desktop__1024 #Index_About_Special {
	position: absolute;
	left: 843px;
	top: 45px;
	overflow: hidden;
	width: 326px;
	height: 207px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(74,74,74,1);
}
#Desktop__1024 #Design_Process_Perso {
	position: absolute;
	left: 1048px;
	top: 44px;
	overflow: hidden;
	width: 163px;
	height: 186px;
	text-align: left;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(74,74,74,1);
}
#Desktop__1024 #Navgation_Bar {
	position: absolute;
	width: 619px;
	height: 34px;
	left: 226px;
	top: 19px;
	overflow: visible;
}
#Desktop__1024 #About {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 74px;
	height: 34px;
	text-align: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(74,74,74,1);
}
#Desktop__1024 #Product_Feature {
	position: absolute;
	left: 129px;
	top: 0px;
	overflow: hidden;
	width: 139px;
	height: 34px;
	text-align: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(74,74,74,1);
}
#Desktop__1024 #Design_Process {
	position: absolute;
	left: 323px;
	top: 0px;
	overflow: hidden;
	width: 139px;
	height: 34px;
	text-align: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(74,74,74,1);
}
#Desktop__1024 #Contact {
	position: absolute;
	left: 517px;
	top: 0px;
	overflow: hidden;
	width: 103px;
	height: 34px;
	text-align: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(74,74,74,1);
}
#Desktop__1024 .Rectangle_A1_Rectangle_100 {
	position: absolute;
	overflow: visible;
	width: 247px;
	height: 126px;
	left: 1256px;
	top: 2830px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_101 {
	position: absolute;
	overflow: visible;
	width: 147px;
	height: 266px;
	left: 1325px;
	top: 1602px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_102 {
	position: absolute;
	overflow: visible;
	width: 147px;
	height: 381px;
	left: -73px;
	top: 2018px;
}
#Desktop__1024 .Rectangle_A1_Rectangle_103 {
	position: absolute;
	overflow: visible;
	width: 146px;
	height: 122px;
	left: -41px;
	top: 649px;
}
